#tools {
	padding: 32px;
	display: block;
	margin: auto;
	max-width: 800px;
	list-style-type: none;
	text-align: center;
}

#tools LI {
	display: inline-block;
	margin:8px;
}

#tools LI [component] {
	width:200px;
}