.NinjaEditor-toolbar-group {
	/* layout */
	display: inline-block;
	height: 32px;
	padding: 4px;
	margin: 4px;

	/* colors */
	border: solid silver 1px;
	box-shadow: 2px 2px 4px rgba(0,100,200,0.2);
	border-radius: 2px;
	background-color: rgba(255,255,255,0.8);
}

.NinjaEditor-toolbar-group:hover {
	background-color: white;
}

.NinjaEditor-toolbar-button {
	/* layout */
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center center;

	/* colors */
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.NinjaEditor-toolbar-button:active {
	opacity: 0.5;
}

.NinjaEditor-toolbar-button:hover {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
