[component="Tests"] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  border-left: solid black 1px;
  box-shadow: -4px 0 10px rgba(0,0,0,0.2);
  overflow-y: auto;
  padding-bottom: 64px;
  background-color: rgba(255,255,255,0.6);
}

[component="Tests"]:hover {
  /* width: 100%; */
  /* transition: width 0.2s ease; */
  background-color: rgba(255,255,255,0.95);
}

[component="Tests"] > div {
  white-space: pre-wrap;
  font-family: monospace;
  border-bottom: solid #F4F4F4 1px;
  font-size: 12px;
  padding-left: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

[component="Tests"] .test-entry {
  font-weight: bold;
}

[component="Tests"] .test-error {
  color: red;
}

[component="Tests"] .test-pass {
  color: dodgerblue;
}

[component="Tests"] .test-pack {
  background-color: black;
  color: white;
  font-weight: bold;
}